Repository adamws/keyboard-tools: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-deploy, run-build-code, run-tests, run-deploy-docs

Fix failing circleci workflow on ghpages
  .circleci/ghpages-config.yml
  docs/deploy.sh
Due: run-deploy-docs

Rotate keys
  .circleci/continue-config.yml
Due: none

Add more option combinations to generate test
  tests/e2e-tests/test_layout_uploads.py
Due: run-tests

Remove no longer needed element visibility change
  tests/e2e-tests/test_layout_uploads.py
Due: run-tests

Add zip file content asserts
  tests/e2e-tests/test_layout_uploads.py
Due: run-tests

Improve search docker container grep expression
  tests/conftest.py
Due: run-tests

Merge build, test and deploy jobs into single job
  .circleci/continue-config.yml
Due: none

Add logging to tests
  tests/e2e-tests/test_layout_uploads.py
  tests/pytest.ini
Due: run-tests

Generate and store junit xml test results
  .circleci/continue-config.yml
  tests/pytest.ini
Due: run-tests

Add asserts for kicad log file content
  tests/e2e-tests/test_layout_uploads.py
Due: run-tests

Update screenshot method to capture whole page
  tests/conftest.py
  tests/pytest.ini
  tests/requirements.txt
  tests/style.css
Due: run-tests

Add tests status badge
  README.md
Due: none

Add demonstration video
  README.md
Due: none

Specify exact minio image version
  deploy/docker-compose.yml
  kicad-api/docker-compose.yml
Due: run-deploy, run-build-code

Add version number to footer
  webapp/package.json
  webapp/src/App.vue
  webapp/vite.config.js
Due: run-build-code

Change automatic deployments approach
  .circleci/config.yml
  .circleci/continue-config.yml
  deploy/deploy.sh
Due: run-deploy

Bump version number
  .circleci/continue-config.yml
  webapp/package.json
Due: run-build-code

Add more details to exception when subprocess fail
  kicad-api/src/kicad.py
Due: run-build-code

Improve fail alert pop-up window
  kicad-api/src/tasks.py
  webapp/src/App.vue
  webapp/src/components/KicadHandler.vue
Due: run-build-code

Remove switch library selection
  README.md
  docs/src/kicad-project-generator/features.md
  kicad-api/Dockerfile
  kicad-api/src/kicad.py
  tests/e2e-tests/test_layout_uploads.py
  webapp/src/components/PcbSettings.vue
Due: run-build-code, run-tests, run-deploy-docs

Update requirements
  kicad-api/requirements.txt
Due: run-build-code

Add KiCad 6 compatibility
  kicad-api/Dockerfile
  kicad-api/requirements.txt
  kicad-api/src/keyboard.kicad_pro.template
  kicad-api/src/kicad.py
  tests/e2e-tests/test_layout_uploads.py
Due: run-build-code, run-tests

Fix test result storage
  .circleci/continue-config.yml
Due: none

Do not wait when error window appears
  tests/e2e-tests/test_layout_uploads.py
Due: run-tests

Add test for incorrect layout file
  tests/e2e-tests/test_layout_uploads.py
Due: run-tests

Path conditions:
  run-deploy: any of: deploy/.*
  run-build-code: ((any of: kicad-api/.*) or (any of: server/.*)) or (any of: webapp/.*)
  run-tests: any of: tests/.*
  run-deploy-docs: any of: docs/.*
